@model IEnumerable<Sales01.Domain.Models.Category>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create", new { }, new { @class = "btn btn-primary btn-sm" })
</p>
<table id="example" class="display nowrap" style="width:100%">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImagePath)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @if (item.ImagenCategory != null)
                    {
                        <div style="float:left;margin-right:20px">
                            <img src="data:image;base64,@System.Convert.ToBase64String(item.ImagenCategory)" class="img-responsive" style="width:150px; height:150px; max-width: 100%; height: auto;">
                        </div>
                    }
                    else if (!string.IsNullOrEmpty(item.ImagePath))
                    {
                        <img src="@Url.Content(item.ImagePath)" alt="Image"
                             style="width:100px;height:150px;max-width: 100%; height: auto;" />
                    }
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.CategoryId }, new { @class = "btn btn-warning btn-sm" })
                    @Html.ActionLink("Details", "Details", new { id = item.CategoryId }, new { @class = "btn btn-outline-secondary btn-sm" })
                    @Html.ActionLink("Delete", "Delete", new { id = item.CategoryId }, new { @class = "btn btn-danger btn-sm", onclick = "return confirm('¿ Are you sure to delete this Products?');" })
                </td>
            </tr>
        }
    </tbody>
</table>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $(document).ready(function () {
            $('#example').DataTable({
                responsive: {
                    details: {
                        display: $.fn.dataTable.Responsive.display.modal({
                            header: function (row) {
                                var data = row.data();
                                return 'Details for ' + data[0] + ' ' + data[1];
                            }
                        }),
                        renderer: $.fn.dataTable.Responsive.renderer.tableAll()
                    }
                }
            });
        });
    </script>
}
