@model Sales01.Domain.Models.Product

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Product</h4>
    <hr />
    <div class="panel panel-danger">
        <div class="panel-heading">Panel Heading</div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-4">
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.Description)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Description)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Remarks)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Remarks)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.Price)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Price)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.IsAvailable)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.IsAvailable)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.PublishOn)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.PublishOn)
                        </dd>

                    </dl>
                </div>
                <div class="col-sm-8">
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.ImagePath)
                        </dt>

                        <dd>
                            @if (Model.ImagenProduct != null)
                            {
                                <div style="float:left;margin-right:20px">
                                    <img src="data:image;base64,@System.Convert.ToBase64String(Model.ImagenProduct)" class="img-responsive" style="width:250px; height:250px; max-width: 100%; height: auto;">
                                </div>
                            }
                            else if (!string.IsNullOrEmpty(Model.ImagePath))
                            {
                                <img src="@Url.Content(Model.ImagePath)" alt="Image" style="width:150px;height:100px;max-width: 100%; height: auto;" />
                            }
                            else
                            {
                                <img src="~/Content/Logos/avatar_user.png" alt="Image" style="width:100px;height:100px;max-width: 100%; height: auto;" />
                            }
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <p>
                @Html.ActionLink("Edit", "Edit", new { id = Model.ProductId }, new { @class = "btn btn-danger" })
                @Html.ActionLink("Back to List", "Index", new { }, new { @class = "btn btn-secondary" })
            </p>

        </div>
    </div>
</div>
