@model IEnumerable<Sales01.Domain.Models.Product>

@{
    ViewBag.Title = "Product";
}

<h2>Product</h2>

<p>
    @Html.ActionLink("Create New", "Create", new { }, new { @class = "btn btn-primary" })
</p>
<table id="example" class="display nowrap" style="width:100%">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Remarks)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BarCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsAvailable)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PublishOn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImagePath)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Remarks)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BarCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsAvailable)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PublishOn)
            </td>
            <td>
                @if (item.ImagenProduct != null)
                {
                    <div style="float:left;margin-right:20px">
                        <img src="data:image;base64,@System.Convert.ToBase64String(item.ImagenProduct)" class="img-responsive" style="width:100px; height:100px; max-width: 100%; height: auto;">
                    </div>
                }
                else if (!string.IsNullOrEmpty(item.ImagePath))
                {
                    <img src="@Url.Content(item.ImagePath)" alt="Image" style="width:150px;height:100px;max-width: 100%; height: auto;" />
                }
                else
                {
                    <img src="~/Content/Logos/avatar_user.png" alt="Image" style="width:100px;height:100px;max-width: 100%; height: auto;" />
                }
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ProductId }, new { @class = "btn btn-warning" })
                @Html.ActionLink("Details", "Details", new { id = item.ProductId }, new { @class = "btn btn-secondary" })
                @Html.ActionLink("Delete", "Delete", new { id = item.ProductId }, new { @class = "btn btn-danger", onclick = "return confirm('¿ Are you sure to delete this Products?');" })
            </td>
        </tr>
        }
    </tbody>
</table>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $(document).ready(function () {
            $('#example').DataTable({
                responsive: {
                    details: {
                        display: $.fn.dataTable.Responsive.display.modal({
                            header: function (row) {
                                var data = row.data();
                                return 'Details for ' + data[0] + ' ' + data[1];
                            }
                        }),
                        renderer: $.fn.dataTable.Responsive.renderer.tableAll()
                    }
                }
            });
        });
    </script>
}
